.candidate-list {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.profile:hover {
  background-color: #f1f1f1;
}

.profile-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.profile a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.profile a:hover {
  color: #007bff;
}

.candidate-list a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  color: black;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.add-candidate {
  text-decoration: none;
  border: 1px solid gray;
  padding: 10px;
  display: flex;
  justify-content: flex;
}
